@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap');

body {
  background-color: #fff;
  padding: 0px;
  font: 16px/1.65 Georgia, "Times New Roman", "Noto Serif SC", serif;
  color: #3f4652;
  font-weight: 400;
  margin: 0;
}
