/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  z-index:999;
  width:100%;
  box-sizing: border-box;
  border-bottom-color: #999;
  padding: 0px 2%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}


.topnav #myLinks {
  display: flex;
  align-items: center;
}

.topnav a.icon {
  display: none;
}

.topnav img {
  margin:0;
  max-height: 50px; /* 控制一下 Logo 高度防溢出 */
}

/* Style the links inside the navigation bar */
.topnav a.normal {
  color: #000; 
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a.normal:hover {
  color: DeepPink
}

/* Add a color to the active/current link */
.topnav a.right {
  margin-right: 0;
}


@media print, screen and (max-width: 1280px) { 
.topnav #myLinks {
  display: none;
}

.topnav a.normal {
  color: rgb(33, 48, 115); 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: left; /* 手机端菜单靠左对齐更好看 */
}

.topnav a.icon {
  color: rgb(33, 48, 115); 
  display: block;
  padding: 10px 16px;
  font-size: 17px;
  position: absolute;
  right: 5%; /* 让汉堡菜单也贴着右边缘 5% */
  top: 15px;
}

.topnav a.right {
  margin-right: 0;
}
}